ENVIRONMENT=development
LOG_LEVEL=INFO

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=space_admin
POSTGRES_PASSWORD=space_admin

MISSION_DATABASE_NAME=mission_db
VEHICLE_DATABASE_NAME=vehicle_db
TRAJECTORY_DATABASE_NAME=trajectory_db
FLIGHT_DYNAMICS_DATABASE_NAME=flight_dynamics_db
COMMUNICATION_DATABASE_NAME=communication_db

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=space_admin
MONGO_INITDB_ROOT_PASSWORD=space_admin
TELEMETRY_DATABASE_NAME=telemetry_db

NATS_URL=nats://nats:4222

API_GATEWAY_PORT=8000
MISSION_SERVICE_PORT=8001
VEHICLE_SERVICE_PORT=8002
TRAJECTORY_SERVICE_PORT=8003
FLIGHT_DYNAMICS_SERVICE_PORT=8004
COMMUNICATION_SERVICE_PORT=8005
TELEMETRY_SERVICE_PORT=8006

MISSION_SERVICE_URL=http://mission-service:8001
VEHICLE_SERVICE_URL=http://vehicle-service:8002
TRAJECTORY_SERVICE_URL=http://trajectory-service:8003
FLIGHT_DYNAMICS_SERVICE_URL=http://flight-dynamics-service:8004
COMMUNICATION_SERVICE_URL=http://communication-service:8005
TELEMETRY_SERVICE_URL=http://telemetry-safety-service:8006

REQUEST_TIMEOUT_SECONDS=5
CIRCUIT_BREAKER_FAILURE_THRESHOLD=3
CIRCUIT_BREAKER_RECOVERY_TIMEOUT_SECONDS=30

VITE_API_BASE_URL=http://localhost:8000
